################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Orders.Logic/obj
/Orders.Logic/bin/Debug/netstandard2.0
/Orders.Tests/bin/Debug/netcoreapp3.1
/Orders.Tests/obj
/.vs/Orders/v16
