################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Orders.Logic/obj
/Orders.Logic/bin/Debug/netstandard2.0
/.vs/Orders/v16/TestStore/0
